<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <appSettings>
		  <add key="host" value="172.31.254.84"/>
		  <add key="user" value="taha"/>
		  <add key="password" value="123"/>
		  <add key="database" value="agenda_taha"/>
		  <add key="port" value="3306"/>
  </appSettings>
</configuration>